# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
StreamLit_app/.streamlit/secrets.toml

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Git
*.orig

